/* Animation Load Bar Section */
.loading-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #eee;
  z-index: 9999;
}

.loading-bar {
  height: 100%;
  background-color: #6c63ff;
  animation: loading-bar-animation 2s ease-in-out forwards;
}

@keyframes loading-bar-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

/* Nav Header Section */
.left-nav {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: "Roboto", "Arial";
    color: #333333;
  }
  
  .logo {
    max-height: 100x;
    margin: 3% 3% 3% 0%;
  }
  
  .tagline {
    margin-left: 10%;
    height: 100px;
    text-align: left;
    font-size: 16px;
    font-family: "Roboto", "Arial";
    color: #333333;
  }
  
  .right-nav {
    display: flex;
    align-items: center;
    margin-right: 3%;
    padding: 1%;
    font-size: 18px;
    font-family: "Montserrat", "Roboto", "Arial";
    color: #333333;
  }
  
  .right-nav a {
    padding: 0 10px;
    color: #333333;
    text-decoration: none;
  }
  
  .right-nav a:last-child {
    padding-right: 0;
  }

  .right-nav a:hover {
    color: #6c63ff;
  }

  .right-nav a:active {
    color: #FFFFFF;
  }

  nav {
    height:100px;
    width: 100%;
    padding: 1%;
    margin: 0% 0%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
  }
  
  nav .nav-item {
    margin-left: 18px;
  }
  
  /* Hero Image Section */
  .heroBanner {
    position: relative;
    height: 400px;
    overflow: hidden;
  }
  
  .heroBanner img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
  }

  /* About Me Section */
  .about {
    margin-top: 1%;
    background-color: #E9EDEF;
    background-size: contain;
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 0 auto;
  }
  
  .micahContainer {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 24px;
    background-color: #FFFFFF;
  }
  
  .micahContainer img {
    max-width: 50%;
    padding: 1%;
    z-index: 1;
    background: #FFFFFF
  }
  
  .content {
    background-color: #FFFFFF;
    background-size: 25%;
    max-width: 100%;
    margin: 1%;
    padding: 1%;
    font-size: 16px;
    font-family: "Roboto", "Arial";
    color: #333333;
  }
  
  /* My UX Skills Section */
  .flexContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  
  .flexContainer > div {
    width: 22%;
    margin: 5px;
    padding: 7px;
    background-color: #F2F2F2;
  }
  
  .flexContainer > div img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
  }
  
  .flexContainer > div h3 {
    text-align: center;
    margin-top: 1%;
    font-size: 1.2em;
    padding: 1%;
  }
  
  .flexContainer > div p {
    margin-top: 5px;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1em;
    line-height: 1.5em;
    padding: 1%;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
    "myUXSkillsTitle"
    "myUXSkills";
  }
  
  /* My Work Section */
  .workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "work1 work2"
      "work3 work4";
    gap: 15px;
  }
  
  .work1 {
    grid-area: work1;
  }
  
  .work2 {
    grid-area: work2;
  }
  
  .work3 {
    grid-area: work3;
  }
  
  .work4 {
    grid-area: work4;
  }
  
  .work1 img,
  .work2 img,
  .work3 img,
  .work4 img {
    width: 100%;
  }
  
  .work1 h4,
  .work2 h4,
  .work3 h4,
  .work4 h4 {
    margin: 10px 0;
  }
  
  .work1 p,
  .work2 p,
  .work3 p,
  .work4 p {
    margin: 10px 0;
  }
  
  .work1 button,
  .work2 button,
  .work3 button,
  .work4 button {
    display: block;
    padding: 10px 20px;
    margin: 10px auto 0;
    border: none;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 20px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
  }
  
  .work1 button:hover,
  .work2 button:hover,
  .work3 button:hover,
  .work4 button:hover {
    background-color: #5a4bd1;
  }
  
  @media screen and (max-width: 600px) {
    .workGrid {
      grid-template-areas:
        "work1"
        "work2"
        "work3"
        "work4";
      grid-template-columns: 1fr;
      grid-template-rows: auto;
    }
    
    .work1,
    .work2,
    .work3,
    .work4 {
      width: 100%;
    }
    
    .work1 button,
    .work2 button,
    .work3 button,
    .work4 button {
      margin-top: 20px;
    }
  }
  
  /* Contact Me */
  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 5%;
    border: 1px solid #ccc;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #E9EDEF;
    border-radius: 4px;
  }
  
  textarea {
    height: 200px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #483ca3;
  }
  
  button[type="submit"]:active {
    background-color: #372d81;
  }

  html,
body {
  height: 100%;
  margin: 0;
}

body {
display: flex;
flex-direction: column;
}

/* Nav Footer Section */
footer {
  background-color: #FFFFFF;
  height:100px;
  padding: 20px;
  margin-top: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 14px;
  font-family: "Roboto", "Arial";
  color: #333333;
  }
  
footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 3px;
  margin-right: 1%;
}

footer ul li {
  margin: 0 10px;
}

footer p {
  list-style-type: style;
  display: block;
  justify-content: right;
  align-items: center;
  margin: 1px;
  padding: 3px;
  }

  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
  }